:root{
  --menu-background-color :#252526;
  --menu-border-color :#454545;
  --menu-foreground-color: #cccccc;
  --background-color: #1e1e1e;
  --border-color: #6b6b6b;
  --nav-background: #404040;
  --nav-hover : #454545;
  --item-list-hover : #2472c8;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font: inherit;
  font-size: 13px;
  font-family:  arial;
}

img, picture, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}
svg{
  color: #ffffff;
  font-size: 12pt;
}

html {
  color-scheme: dark light;
}


